table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	text-align: left;
}

th {
	font-size: 20px;
}

.names{
	width: 200px;
}

.otherinputs{
	width:80px;
}

p {
	margin-bottom: 20px;
}